@font-face {
    font-family: digital;
    src: url(./fonts/Digital\ Dismay.otf);
}
* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
    height: 100%;
    
}

body{
    
    background-image: url(./wp10188796-basketball-arena-wallpapers.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}


.container {
    position: absolute;;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; 
    margin: auto;
    text-align: center;
    padding: 10px;
    display: flex;
    justify-content: center;
    max-width: 80%;
    height: 60vh;
    margin: auto;
    background-color: rgba(84, 82, 124, 0.734);
    
}

.score {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100;
    width: 25vh;
    height: 40vh;
    padding: 2px;
   
    

}
/* score box */
.score-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #080001;
    margin-bottom: 10px;
    border-radius: 5px;
    max-width: 100;
    width: 20vh;
    height: 20vh;
    color: red;
}
.score-box > p {
    font-family: digital,'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    font-size: 90px;
    line-height: 127px;
    /* or 141% */
    
    text-align: center;
    
    color: #F94F6D;
  
}
.score-title {
    font-weight: 500;
    color: whitesmoke;
    font-size: 40px;
}

/*score add */
.score-add {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 100;
  width: 20vh;
  margin-bottom: 10px;
  
  
}
.score-add > button {
  max-width: 100%;
  width: 45px;
  height: 45px;
  background-color: blanchedalmond;
  /*text-align: center;
  height: 50%;*/
  font-family: digital,'Cursed Timer ULiL';
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 28px;
/* or 155% */
  text-align: center;
  color: #16181e;
  border: 2px solid #9AABD8;
  border-radius: 5px;

}

.remove-btns{ 
    position: absolute;
    top: 100px;
    display:flex;
    justify-content: space-around;
    align-items: center;
    width: 5vh; 
    margin: 5px;
    
}

.remove-btns > button{
  width: 100vh;
  height: 45px;
  padding: 5px;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 28px;
  margin: 3px;
  border: 2px solid #9AABD8;
  border-radius: 5px;
  background-color: blanchedalmond;
  font-family: sans-serif;
}
